default_shell "zsh"
simplified_ui true
layout {
  pane
  pane split_direction="vertical"{
    pane size="50%"
    pane size="50%"
  }
}
themes {
    nord {
        fg "#D8DEE9"
        bg "#191c22"
        black "#191c22"
        red "#BF616A"
        green "#A3BE8C"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#E5E9F0"
        orange "#D08770"
    }
}
